ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333; /* Color de fondo del menú */
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555; /* Color de fondo cuando se pasa el cursor sobre el enlace */
}
