/* Estilos para el menú */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #333; /* Color de fondo del menú */
    border: 1px solid #555; /* Borde del menú */
    border-radius: 5px; /* Borde redondeado */
    padding: 10px;
    justify-content: space-around; /* Distribución equitativa de los elementos del menú */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transiciones suaves de fondo y sombra */
}

.menu li {
    margin-right: 20px; /* Espacio entre elementos del menú */
}

.menu li:last-child {
    margin-right: 0; /* Eliminar el margen derecho del último elemento del menú */
}

.menu a {
    text-decoration: none; /* Sin decoración de enlace (subrayado) */
    color: #fff; /* Color del texto del enlace */
    font-weight: bold; /* Texto en negrita */
}

.menu a:hover {
    color: #55f; /* Cambio de color al pasar el cursor sobre el enlace */
}

/* Estilos para el menú con atenuación durante el desplazamiento */
.menu.scrolling {
    background-color: rgba(51, 51, 51, 0.8); /* Fondo atenuado al hacer scrolling */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra al hacer scrolling */
}

/* Estilos para las secciones */
section {
    margin: 20px; /* Margen alrededor de las secciones */
}

/* Estilos para el pie de página */
footer {
    background-color: #333; /* Color de fondo del pie de página */
    color: white; /* Color del texto del pie de página */
    text-align: center; /* Texto centrado */
    padding: 10px; /* Relleno del pie de página */
    border-top: 1px solid #555; /* Borde superior del pie de página */
}

/* Estilos para atenuar el fondo de la página durante el scrolling */
body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2); /* Gradiente de atenuación en el fondo de la página */
    transition: background 0.3s; /* Transición para cambiar el fondo suavemente */
}
body.scrolling {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)); /* Cambio de gradiente al hacer scrolling */
}

/* Estilos para la caja que enmarca los títulos de sección */
.caja {
    border: 1px solid #555; /* Borde de la caja */
    padding: 10px; /* Relleno de la caja */
    margin: 10px; /* Margen alrededor de la caja */
    border-radius: 5px; /* Borde redondeado de la caja */
    background-color: #f0f0f0; /* Color de fondo de la caja */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra de la caja */
}
