/* Estilos para el menú */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    padding: 10px;
    justify-content: space-around;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.menu li {
    margin-right: 20px;
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.menu a:hover {
    color: #55f;
}

/* Estilos para el menú con atenuación durante el desplazamiento */
.menu.scrolling {
    background-color: rgba(51, 51, 51, 0.8); /* Fondo atenuado */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra al hacer scrolling */
}

/* Estilos para las secciones */
section {
    margin: 20px;
}

/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #555;
}

/* Estilos para atenuar el fondo de la página durante el scrolling */
body {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)); /* Gradiente de atenuación */
    transition: background 0.3s;
}
body.scrolling {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)); /* Gradiente de atenuación al hacer scrolling */
}
