/* General Styles */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    line-height: 1.8;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

/* Header Styles */
header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 20px;
    transition: background-color 0.3s ease;
}

header:hover {
    background-color: #0056b3;
}

/* Main Menu Styles */
nav.main-menu {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #fff;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav.main-menu:hover {
    background-color: #f5f5f5;
}

nav.main-menu ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav.main-menu li {
    display: inline;
    margin: 0 10px;
}

nav.main-menu a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: inline-block;
}

nav.main-menu a:hover {
    background-color: #f5f5f5;
    color: #007BFF;
}

/* Main Content */
.main-content {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* HTML5 Specific Section */
.html5-section {
    text-align: justify;
}

.html5-section h2 {
    color: #333;
    margin-bottom: 10px;
    font-size: 24px;
    transition: color 0.3s ease;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    background-color: #f5f5f5;
}

.html5-section h3 {
    color: #333;
    margin-bottom: 10px;
    font-size: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

.html5-section p {
    color: #555;
    transition: color 0.3s ease;
    text-align: justify;
    margin: 10px;
    line-height: 1.5;
}

.html5-section a {
    color: #007BFF;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.html5-section a:hover {
    color: #0056b3;
}

/* Box Layer Styles */
.box-layer {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

/* Box Layer Tag Styles */
.box-layer h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.box-layer p {
    color: #555;
    text-align: justify;
    line-height: 1.5;
}

