body, body  {
    font-family: Arial, sans-serif;
    margin: -10px;
    padding: -100px;
    background-color: #f8f8f8;
    background-image: url("batman.jpeg");
    backdrop-filter: blur(25px);

    
}

header, header a {
    background-color: #000000;
    color: white;
    padding: 10px 0;
    animation: fadeIn 1s ease-in-out;
    backdrop-filter: blur(10px);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

form {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    animation: slideIn 1s ease-in-out;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    animation: fadeIn 1s ease-in-out;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section#cv {
    background-color: rgb(233, 226, 226);
    padding: 20px;
    border-radius: 8px;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    border: 5px solid #9c3535;
    border-radius: 50px;
    transition: transform 1s ease-in-out;
}

section#cv:hover {
    transform: scale(1.2);
}

form label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form select,
form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    box-sizing: border-box;
    transition: border 0.3s ease;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="tel"]:focus,
form select:focus,
form textarea:focus {
    border: 1px solid #4CAF50;
}

form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

video {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    transition: transform 0.3s ease;
}

video:hover {
    transform: scale(1.05);
}

nav {
    color: green;
    text-align: center;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 90px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

#h1 {
    text-align: center;
    color: #000000;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}
     
myVideo.container {
    background-color: #000000;
    color: white;
    padding: 10px 0;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    backdrop-filter: blur(10px);
}       
