

/* estilo.css */
.animacion {
    width: 400px; /* Tamaño inicial de la imagen */
    transition: transform 1s; /* Duración de la animación */
}

.animacion:hover {
    transform: scale(2.1); /* Escala 1.2 veces en el hover */
   /*  transform:rotate(90deg);
					transition-duration:4s;
					transform:skew(-200deg); */

}
.xd{
    text-decoration: none;
}
.xd:hover{

}